<nav class="navbar">
    <div  class="logoApp">
        <button mat-button  class="nomApp" (click)="goHome()">EasyBook</button>
    </div>
    <div class="blocNav">
        <button mat-button class="buttonNav" [matMenuTriggerFor]="aboveMenu" >
            <mat-icon>menu</mat-icon>
            Fournitures</button>
            <mat-menu #aboveMenu="matMenu"  yPosition="below">
                <button mat-menu-item class="belowOptions"  (click)="goToProduitEnStock()">En Stock</button>
                <button mat-menu-item class="belowOptions" (click)="goToProduitEnAttente()">En attente</button>
              </mat-menu>
        <button mat-button class="buttonNav" (click)="seeHistoric()">
            <mat-icon>archive icon</mat-icon>
            Historique</button>
        <button mat-button class="buttonNav" (click)="seeProfil()">
            <mat-icon>home</mat-icon>
            Profil</button>
        <button mat-button class="buttonDeconnexion" (click)="logOut()">
            <mat-icon>log_out</mat-icon>
            Déconnexion</button>
    </div>
</nav>
